# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/checkstyle-idea.xml
/misc.xml
/modules.xml
/nhn-academy-dev-settings.iml
/vcs.xml
